*,
*::before,
*::after {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  height: 100%;
  width: 100%;
  background: linear-gradient(45deg, rgb(0, 110, 255), rgb(0, 255, 221), rgb(0, 255, 42)) no-repeat center center fixed;
  text-align: center;
}

h1 {
  font-size: 3rem;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

ul {
  width: 50%;
}

li {
  display: flex;
  margin-bottom: 0.5em;
  border-bottom: 2px solid black;
  padding-bottom: 4px;
}

p {
  font-size: 1.5rem;
}

p:nth-of-type(2) {
  text-decoration: double underline red;
}

li > span {
  display: list-item;
  text-align: left;
  align-self: flex-start;
  font-size: 1.5rem;
}

.done {
  text-decoration: line-through red;
}

#userinput {
  text-align: left;
}

.delete {
  align-self: center;
  margin-left: auto;
}
